<br>
<div id="nav-links-notweet">
  <span id="navItemFollow"><%= nav_item("Follow Users", follows_path)%></span>
  <span id="navItemTweets"><%= nav_item("Tweets", tweets_path)%></span>
  <span id="navItemAbout"><%= nav_item("About", about_path) %></span>
  <span id="navItemTeam"><%= nav_item("Team", team_path) %></span>
</div>