<br>
<div id="nav-links-notweet">
  <span id="navItem"><%= nav_item("Follow", follows_path)%></span>
  <span id="navItem"><%= nav_item("Tweet", tweets_path)%>
  <span id="navItem"><%= nav_item("About", about_path) %>
  <span id="navItem"><%= nav_item("Team", team_path) %>
</div>