<div class="top-space"></div>
<div class="homepage-greeting">
   <center> <h1>Welcome to Tweetful!</h1>
            <h3>We're making the Internet a little more thoughtful.</h3>
<%= render :partial => 'sign_in' %>
<%= render :partial => 'sign_up' %></div></center>