<header class="masthead">
  <h1 class="masthead-heading">Tweetful</h1>
  <p class="masthead-intro">Making The Internet a Little More Thoughtful</p>
</header>

<section class="info">  
  <header>
  <h2>Peter Lonestar</h2>
  <h3>Founder</h3>
  </header>
  <p>
    Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas faucibus mollis interdum.
  </p>
</section>

<section class="info">  
  <header>
      <h2>Bill Billerson</h2>
        <h3>CFO</h3>
      <p>Nunc bibendum interdum dui, a varius ipsum semper tempus. Vestibulum tempus mattis nunc, in interdum elit pulvinar nec. Quisque enim tellus, sagittis eu nibh at, malesuada bibendum metus. Integer congue fringilla feugiat. Donec quis tincidunt enim. Sed quis ultrices enim. Etiam dignissim nunc in lobortis sodales. In varius rutrum facilisis. Suspendisse et leo finibus, auctor eros eget, condimentum elit. Aliquam nisl sem, euismod ac fermentum et, ornare ut mi.</p>
  </header>
</section>

<section class="info">  
  <header>
      <h2>Forrest Phillips</h2>
        <h3>CTO</h3>
      <p>Nunc bibendum interdum dui, a varius ipsum semper tempus. Vestibulum tempus mattis nunc, in interdum elit pulvinar nec. Quisque enim tellus, sagittis eu nibh at, malesuada bibendum metus. Integer congue fringilla feugiat. Donec quis tincidunt enim. Sed quis ultrices enim. Etiam dignissim nunc in lobortis sodales. In varius rutrum facilisis. Suspendisse et leo finibus, auctor eros eget, condimentum elit. Aliquam nisl sem, euismod ac fermentum et, ornare ut mi.</p>
  </header>
</section>
<footer>
  Contact us: <span><a href="admin@tweetful.io">admin@tweetful.io</a></span>
</footer>
