<%= render :partial => 'shared/left_nav_notweet' %>
<header class="masthead">
  <center><h1 class="masthead-heading"></h1></center>
  <p class="masthead-intro">Making The Internet a Little More Thoughtful</p>
</header>

<section class="info">  
  <header>
  <h2>About Tweetful</h2>
  </header>
  <p>
    Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas faucibus mollis interdum.
  </p>
</section>

<section class="info">  
  <header>
      <h2>What Makes Us Different</h2>
      <p>Nunc bibendum interdum dui, a varius ipsum semper tempus. Vestibulum tempus mattis nunc, in interdum elit pulvinar nec. Quisque enim tellus, sagittis eu nibh at, malesuada bibendum metus. Integer congue fringilla feugiat. Donec quis tincidunt enim. Sed quis ultrices enim. Etiam dignissim nunc in lobortis sodales. In varius rutrum facilisis. Suspendisse et leo finibus, auctor eros eget, condimentum elit. Aliquam nisl sem, euismod ac fermentum et, ornare ut mi.</p>
  </header>
</section>

<section class="info">  
  <header>
      <h2>Company History</h2>
      <p>Nunc bibendum interdum dui, a varius ipsum semper tempus. Vestibulum tempus mattis nunc, in interdum elit pulvinar nec. Quisque enim tellus, sagittis eu nibh at, malesuada bibendum metus. Integer congue fringilla feugiat. Donec quis tincidunt enim. Sed quis ultrices enim. Etiam dignissim nunc in lobortis sodales. In varius rutrum facilisis. Suspendisse et leo finibus, auctor eros eget, condimentum elit. Aliquam nisl sem, euismod ac fermentum et, ornare ut mi.</p>
  </header>
</section>
