// Place all the styles related to the Twets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.help-block {
    color:red;
    text-transform:uppercase;
}

h4.Tweets-header {
    padding-left: 225em;
    text-align:center;
}